.prayer_container {
  margin: 2em;
  width: 27vw;
  height: 19vw;
  transition: margin .5s ease-in-out;
}

.prayer_container:hover {
  margin-top: .1em;
}

.prayer_text{
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.prayer_text{
  font-weight: 400;
  font-size: 1.5vw;
}

/* 
.tag {
  margin-right: 2px;
  transition: margin 0.2s ease-in-out;
  background-color: gray;
} */

